.toggle-container {
  background-color: #e3e8eb;
  border-radius: 999px;
  display: flex;
  height: 2.25rem;
  padding: 0.25rem;
  width: 17rem;
  position: relative;
  outline: none;
  border: none;
  font-size: 0.875rem !important;

  .toggle-handle {
    background-color: #fff;
    width: 5.313rem;
    border-radius: 999px;
    display: block;
    height: 1.75rem;
    z-index: 0;
    font-size: 0.875rem;
  }

  .toggle-option {
    position: absolute;
    margin: 0 !important;
    height: calc(100% - 15px);
    top: 0.469rem;
    bottom: 0.469rem;
    display: flex;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    gap: 0.25rem;

    &.delivery-option {
      left: 0.5rem;
      justify-content: flex-start;
      align-items: center;
    }

    &.pickup-option {
      right: 0.5rem;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .toggle-text {
    font-size: 0.875rem !important;
  }

  .toggle-icon {
    width: 1rem;
    height: 1rem;
  }
}

.toggle-container[data-pickup='pickup'] {
  justify-content: flex-end;
}
