
.food-add-icon:before { content: '\e800'; } /* '' */
.food-adress:before { content: '\e801'; } /* '' */
.food-arrow-down-icon:before { content: '\e802'; } /* '' */
.food-arrow-icon:before { content: '\e803'; } /* '' */
.food-back-button:before { content: '\e804'; } /* '' */
.food-delivery-icon:before { content: '\e805'; } /* '' */
.food-distance-icon:before { content: '\e806'; } /* '' */
.food-localization-icon:before { content: '\e807'; } /* '' */
.food-logo:before { content: '\e808'; } /* '' */
.food-filter-icon:before { content: '\e809'; } /* '' */
.food-minus-icon:before { content: '\e80a'; } /* '' */
.food-navigation-icon:before { content: '\e80b'; } /* '' */
.food-pickup-icon:before { content: '\e80c'; } /* '' */
.food-radio-button:before { content: '\e80d'; } /* '' */
.food-radio-button-1:before { content: '\e80e'; } /* '' */
.food-search-icon:before { content: '\e80f'; } /* '' */
.food-shopping-cart-icon:before { content: '\e810'; } /* '' */
.food-star-filled-icon:before { content: '\e811'; } /* '' */
.food-star-outline:before { content: '\e812'; } /* '' */
.food-time:before { content: '\e813'; } /* '' */
.food-asian-icon:before { content: '\e814'; } /* '' */
.food-breakfast-icon:before { content: '\e815'; } /* '' */
.food-dessert-icon:before { content: '\e816'; } /* '' */
.food-fast-food-icon:before { content: '\e817'; } /* '' */
.food-healthy-icon:before { content: '\e818'; } /* '' */
.food-burger-icon:before { content: '\e819'; } /* '' */
.food-ice-cream-icon:before { content: '\e81a'; } /* '' */
.food-indian-icon:before { content: '\e81b'; } /* '' */
.food-italian-icon:before { content: '\e81c'; } /* '' */
.food-seafood-icon:before { content: '\e81d'; } /* '' */
.food-korean-icon:before { content: '\e81e'; } /* '' */
.food-pizza-icon:before { content: '\e81f'; } /* '' */
.food-sushi-icon:before { content: '\e820'; } /* '' */
.food-vegan-icon:before { content: '\e821'; } /* '' */
